
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  margin: 0px;
	line-height: 1;
  font-family: 'Raleway', sans-serif;
}
.nav{
	background-color: #4990E2;
	height: 100px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.logo{
	width: 80px;
	height: 80px;
	margin: 10px 30px;
}
/*-------------------------------------*/
.reservasjonsinfo{
	margin: auto;
	margin-bottom: 50px;
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.event{
	display: flex;
}
.tittel, .tid{
	font-family: 'Raleway', sans-serif;
	font-size: 1.8em;
	font-weight: bold;
}
.sjanger, .lengde, .sal{
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
}
.dato{
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}
.bilde img{
	order: 1;
	height: 90px;
	box-shadow: 2px 2px 10px #888888;
}
.eventinfo{
	order: 2;
	text-align: left;
	margin: 0px 20px;
}
.tidspunkt{
	order: 3;
	text-align: center;
	justify-content: flex-end;
}
/*-------------------------------------*/
.overskrift{
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 15px auto;
	width: 60%;
	color: #4A4A4A;
}
/*-------------------------------------*/
.billettbakgrunn{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
}
.billettvalg{
	margin: auto;
	width: 60%;
	display: flex;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.sidepanel{
	margin: 0px;
	order: 1;
	min-width: 300px;
	flex-grow: 1;
}
.beskrivelse{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: bold;
}
.type_sete{
	order:1;
	width: 50%;
	height: 150px;
}
.type_sete label{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: bold;
	order: 1;
}
.type_sete .beholder:hover{
	margin-left: 1px;
}
.type_sete .beholder{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	margin: 10px 0px;
	width: 180px;
	flex-direction: row-reverse;
}
.select, .barn, .honnor{
	order: 2;
}
.under_setekart{
	display: none;
}
.setekart{
	font-family: 'Raleway', sans-serif;
	margin-left: 20px;
	order: 2;
	/*border: 1px solid black;*/
}
.skjerm{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	background-color: #B9B9B9;
	border-radius: 15px;
	text-align: center;
	margin: 10px;
	padding: 2px;
}
.seat{
	background-color: #F2F2F2;
}
.seteinfo{
	font-family: 'Raleway', sans-serif;
	margin: 30px 0px;
	width: 180px;
	order: 3;
}
.sirkel{
	width: 10px;
	height: 10px;

	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.ledig{
	order: 2;
}
.ledig_sete{
	background: #B9B9B9;
	order: 1;
	margin: 5px
}
.opptatt{
	background: #6C4977;
	order: 1;
	margin: 5px
}
.midlertidig{
	background: #4990E2;
	order: 1;
	margin: 5px
}
.mine{
	background: #7ED321;
	order: 1;
	margin: 5px
}
.tilleggsinfo{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	width: 60%;
	margin: auto;
}
.valgte_billetter{
	display: inline-block;
	padding: 3px 7px;
	border-radius: 10px;
	background-color: #7ED321;
	margin: 2px 1px;
	visibility: visible;
}
.dine_valgte_billetter{
	width: 180px;
	order: 1;
}
.dine_valgte_billetter p{
	visibility: hidden;
}
.advarsel{
	color: #D0011B;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	display: none;
	order: 2;
	width: 50%;
}
.advarsel img{
	width: 40px;
	height: 40px;
	order:1;
}
.advarsel p{
	order: 2;
	margin-left: 10px;
}

/*-------------------------------------*/
.prisoversikt{
	width: 60%;
	margin: 20px auto;
}
.pristabell{
width: 100%;
}
.pristabell th{
	border: 1px solid #F2F2F2;
	height: 30px;
	padding: 10px;
	font-weight: bold;
	background: #F2F2F2;
}
.pristabell td{
	border: 1px solid #F2F2F2;
	padding: 10px;
}
.sum td{
	border-bottom: 2px solid #9B9B9B;
}
.prisoversikt button{
	float: right;
	margin: 10px 10px 30px;
}
.prisoversikt .kort{
	width: 100px;
}
.pristabell tr:hover{
	background-color:#F2F2F2;
}
.neste_knapp{
	border-radius: 25px;
	border: 3px solid #7ED321;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	padding: 5px 10px;
	color: #4A4A4A;
	background-color: white;
}
.neste_knapp:hover{
	background-color: #7ED321;
	color: white;
}
/*-------------------------------------*/
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#seats label{
	transform: scale(1.5);
	width: 21px;
}
.col-label{
	margin-left: 2px;
}
/* Custom */
.legends {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  margin: 10px 0;
  color: #666;
}
.methods{
    margin: 10px 0;
}
.row span.row-label {
    font-size: 14px;
    display: inline-block;
    width: 15px;
    padding-right: 0px;
    text-align: left;
}
.row span.col-label {
    font-size: 14px;
    display: inline-block;
    width: 19px;
    text-align: left;
    margin-bottom: 10px;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  font-size: 12px;
  display: inline-block;
  margin: 0 2px;
  line-height: 17px;
}

input[type=checkbox] + label:before {
  content: "\f111";
  color: #B9B9B9;
  cursor: pointer;
}

input[type=checkbox]:checked + label:before {
  content: "\f007";
	color: #7ED321;
}

input[type=checkbox]:disabled[data-status=booked] + label:before{
  content: "\f057";
	color: #6C4977;
}

input[type=checkbox]:disabled[data-status=notavailable] + label:before{
  content: "\f007";
	color: #4990E2;
}
input[type=checkbox]:disabled[data-status=utilgjengelig] + label:before{
  content: "\f007";
	visibility: hidden;
}
/*--------------FLEXBOX---------------*/
.beholder{
	display: flex;
}
.box{
	border: 1px solid black;
}

@media all and (max-width: 1200px) {
	.reservasjonsinfo{
		width: 80%;
	}
	.overskrift{
		width: 80%;
	}
	.billettvalg{
		width: 80%;
	}
	.prisoversikt{
		width: 80%;
	}
	.tilleggsinfo{
		width: 80%;
	}
}
@media all and (max-width: 992px) {
	.reservasjonsinfo{
		width: 90%;
		padding: 0px 30px;
	}
	.overskrift{
		width: 90%;
		padding: 0px 30px;
	}
	.billettvalg{
		width: 90%;
		padding: 0px 30px;
	}
	.prisoversikt{
		width: 90%;
		padding: 0px 30px;
	}
	.tilleggsinfo{
		width: 90%;
		padding: 0px 30px;
	}
}
@media all and (max-width: 768px) {
	.reservasjonsinfo{
		width: 100%;
	}
	.overskrift{
		width: 100%;
	}
	.billettvalg{
		width: 100%
	}
	.prisoversikt{
		width: 100%;
	}
	.tilleggsinfo{
		width: 100%;
	}
	.nav{
		height: 50px;
	}
	.logo{
		width: 40px;
		height: 40px;
		margin: 5px 15px;
	}
	.under_setekart{
		display: inline;
	}
	.over_setekart{
		display: none;
	}
	/*--------------------------------------*/
	.reservasjonsinfo{
		flex-direction: column;
	}
	.tidspunkt{
		margin: 20px 0px 0px;
	}
	/*--------------------------------------*/
	.billettbakgrunn{
		height: auto;
	}
	.billettvalg{
		display: flex;
		flex-direction: column;
		align-items:center;
	}
	.type_sete{
		order: 1;
		width: 260px;
	}
	.setekart{
		order: 2;
		min-width: 250px;
		margin-left: 2px;
		flex-basis: 0em;
	}

	.sidepanel{
		display: contents;
	}
	.tilleggsinfo{
		flex-direction: column;
		align-items:center;
	}
	.seteinfo .under_setekart{
		order: 2;
		width: 260px;
		margin: 0px 0px;
	}
	.dine_valgte_billetter{
		order: 3;
		width: 260px;
	}
	.type_sete .beholder{
		display: 0;
		width: 260px;
	}
	.advarsel{
		margin: 15px auto 0px;
		display: none;
		order:1;
		width: 60%;
	}
}
@media all and (max-width: 480px) {
	.advarsel{
		width: 80%;
	}
}
@media all and (max-width: 320px) {
	.advarsel{
		width: 100%;
	}
}
